<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can reach me at either of my emails: <br>
  <a href="sbowman@bowdoin.edu">sbowman@bowdoin.edu</a><br>
  <a href="sawyerbowman@gmail.com">sawyerbowman@gmail.com</a>
</p>