<div class="center hero-unit">
  <h1>Welcome to my website!</h1>

  <h2>
    My name is Sawyer Bowman, and I'm a double major in <a href="http://www.bowdoin.edu/computer-science/">Computer Science</a><br> 
    and <a href="http://www.bowdoin.edu/spanish/">Spanish</a>, minor in <a href="http://www.bowdoin.edu/chemistry/">Chemistry</a> 
    at <a href="http://www.bowdoin.edu">Bowdoin College</a>! I will be graduating<br> 
    May, 2015. At Bowdoin, I tutor Data Structures and Intermediate Spanish<br> 
    in addition to leading tours and being an RA with Residential Life.
   </h2>
   
   <h3>
    A few things I love to do include running with my Cross Country and Track teams, playing piano, making documentaries/films,
    spending time with friends and family (particularly when it comes to playing games like Settlers of Catan or Monopoly), and
    working on independent projects.
    
    On the other pages of my website you'll find even more information about me, my interests, and events going on in my life!
  </h3> 

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("sbowman.jpg", alt: "SawyerBowman", :size => '211x295')%>